<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
  Your answer has been saved.<br>
  <a href='/'>Click here</a> to redo the quiz.
</div>


<%- include('bootfooter') -%>
